# متغیرهای محیطی و اطلاعات حساس
.env

# فایل‌های پایتون
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info/

# فایل‌های سیستم‌عامل و ویرایشگر
.DS_Store
Thumbs.db
.vscode/
.idea/

# لاگ‌ها
*.log
